<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Funcionários Cadastrados</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style2.css">
</head>
<body>
  <div class="container mt-5">
    <h2 class="mb-4">Funcionários Cadastrados</h2>

    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Nome</th>
          <th>Função</th>
          <th>CPF</th>
          <th>Data de Nascimento</th>
          <th>Telefone</th>
          <th>Email</th>
          <th>Administrador</th>
        </tr>
      </thead>
      <tbody>
        <% funcionarios.forEach(func => { %>
          <tr>
            <td><%= func.nome %></td>
            <td><%= func.funcao %></td>
            <td><%= func.cpf %></td>
            <td><%= func.data_nasc %></td>
            <td><%= func.telefone %></td>
            <td><%= func.email %></td>
            <td><%= func.admin ? "Sim" : "Não" %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>

    <a href="/dashborad.ejs" class="btn btn-secondary">Voltar</a>
  </div>
</body>
</html>
